@page "/ML"
@using System.Data
@using Microsoft.AspNetCore.Mvc
@using UptimeR.Extensions
@using UptimeR.ML.Trainer.Interfaces
@using Uptimer.ML.Reader
@using UptimeR.ML.Domain.Models.RavenModels
@inject IAnomalyDetector anomalyDetector
@inject IReader Reader


<h1>Machine Learning</h1>
<AuthorizeView Policy="Admin">
    <Authorizing>
        <h1>Loading...</h1>
    </Authorizing>
    <Authorized>

        <p class="alert-info">@errorMessage</p>


        <button class="btn btn-primary" @onclick="Train">Train ALL logs</button>

        <br><br>

        <button class="btn btn-primary" @onclick="Train24">Train logs for 24 hours</button>
        <br><br>

        <div>
            <input type="date" id="datepicker" @bind-value="date" class="form-control-sm" />
            <button class="btn btn-primary" @onclick="(() => GetAnomalies(date))">Indlæs logs</button>
        </div>

        <br />
        <p>Anomalies Detected on @anomalies.Date</p>
        <br />
        <table class="succes-table">
            <thead>
                <tr>
                    <th>
                        <p>Service Name</p>
                    </th>
                    <th>
                        <p>Anomalies</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in anomalies.Anomalies)
                {
                    <tr>
                        <td class="succes-td-servicename">
                            <p>@a.Servicename</p>
                        </td>
                        <td>
                            <p>@a.AnomalyCount</p>
                        </td>
                        <td>
                            <p><button class="btn btn-primary"
                                @onclick="(() => DownloadLog(a.Servicename))">Download</button></p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </Authorized>
    <NotAuthorized>
        <div>
            <h1 style="text-align: center; Font-size:108px" title="Du ved vi har styr på det">Tro på det <br />
                Christina</h1>
        </div>

    </NotAuthorized>
</AuthorizeView>

@code
{
    private ServiceAnomalies anomalies = new();
    string errorMessage = "";
    DateOnly date = DateOnly.FromDateTime(DateTime.Now).AddDays(-1);

    public async Task<ActionResult> DownloadLog(string servicename)
    {

        try
        {
            var result = await Reader.GetAnomaliesForService(date, servicename);


            //convert result to datatable
            DataTable myDataTable = new DataTable();
            myDataTable.Columns.Add("Time", typeof(string));
            myDataTable.Columns.Add("Alert", typeof(string));
            myDataTable.Columns.Add("Score", typeof(string));
            myDataTable.Columns.Add("PValue", typeof(string));

            foreach (var item in result.Logs)
            {
                myDataTable.Rows.Add(item.Time, item.Alert, item.Score, item.PValue);
            }

            var fileName = $"{servicename}-{date.ToString("yyyy-MM-dd")}.csv";
            var output = myDataTable.ToCsvByteArray();

            return new FileContentResult(output, "text/csv")
            {
                FileDownloadName = fileName
            };

        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            return null;
        }
    }

    private void Train()
    {
        try
        {
            anomalyDetector.Detect();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private void Train24()
    {
        try
        {
            anomalyDetector.Detect24Hours(date);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetAnomalies(date);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private async Task GetAnomalies(DateOnly date)
    {
        anomalies = await Reader.GetAnomaliesForDate(date);
    }
}