@page "/PowerBI"

<h1>PowerBI</h1>

<iframe title="UptimeR" width="100%" height="800"
    src="https://app.powerbi.com/reportEmbed?reportId=4d740754-9c15-4f2e-944e-f7168cd0a0f8&autoAuth=true&filterPaneEnabled=false&navContentPaneEnabled=false&ctid=1855fd54-8283-4d57-ab22-4e818e22fcf7&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D"
    frameborder="0" allowFullScreen="true"></iframe>