@page "/PowerBI"

<h1>PowerBI</h1>

<iframe title="sonar" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=82e193ec-0915-4628-a98f-01ffb85b5151&autoAuth=true&ctid=1855fd54-8283-4d57-ab22-4e818e22fcf7&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D"
    frameborder="0" allowFullScreen="true"></iframe>